<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Admin</title>
</head>


<!--- comentario --->
<!--- comentario --->
<!--- comentario --->
<body class="d-flex flex-column h-100">

    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Administración</h1>
            <div class="row d-flex justify-content-center">
                <div class="card rounded-0 col-sm-5 border">
                    <h2>Gestion de trabajadores</h2>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user: ${users}" th:if="${user.roles == 'EMPLEADO'}">
                                <td th:text="${user.id}"></td> 
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalObservarTrabajador">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modalObservarTrabajador" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Observando usuario</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col">
                                                    <div>ID usuario:</div>
                                                    <div th:text="${user.id}"></div>
                                                </div>
                                                <div class="col">
                                                    <div>ID usuario:</div>
                                                    <div th:text="${user.id}"></div>
                                                </div>
                                                <div class="col">
                                                    <div>ID usuario:</div>
                                                    <div th:text="${user.id}"></div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Cerrar</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>



                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalEditarTrabajador">
                                    <i class="bi bi-pencil"></i>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modalEditarTrabajador" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Editando trabajador</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/admin/editarTrabajador}" method="POST">
                                                    <input type="hidden" name="id" th:value="${user.id}">
                                                    <input type="hidden" name="firstName" value="Alfredo">
                                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                                </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div>




                                    <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                    
                </div>

                
                <div class = "col-sm-1"></div>
    
                <div class="card rounded-0 col-sm-5 border">
                    <h2>Gestion de clientes</h2>
                    
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user: ${users}" th:if="${user.roles == 'CLIENTE'}">
                                <td th:text="${user.id}"></td> 
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td>
                                    <button type="button" class="btn btn-primary"><i class="bi bi-eye"></i></button>
                                    <button type="button" class="btn btn-success"><i class="bi bi-pencil"></i></button>
                                    <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                      </table>

                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>