<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Chat</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Chat</h1>
            <div class="row">
                    <div class="col">
                        USUARIO 1 --> TODO: rellenar con su imagen y su nombre dinamicamente
                    </div>
                    <div class="col">
                        USUARIO 2 --> TODO: rellenar con su imagen y su nombre dinamicamente
                    </div>
            </div>
            <div class="row card text-center">
                <div class="col card col-2">
                    Mensajes user 1
                </div>

                <div class="col card col-2">
                    Mensajes user 2
                </div>
            </div>
            <div class="row">
                <div class="col col-9">
                    <label for="mensaje"> Escribe tu mensaje: </label>
                    <input type="text" class="form-control" id="mensaje"> 
                </div>
                <div class="col col-3">
                    <button type="submit" class="btn btn-dark m-3">Mandar mensaje </button>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>