<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Editando el texto de index</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Introduce el nuevo texto: </h1>
            <form th:action="@{/admin/editarInicioTexto}" method="POST">
                <textarea id="" name="texto" rows="4" cols="50"></textarea>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form> 
            <h1 class="mt-4">Introduce el nuevo titulo: </h1>
            <form th:action="@{/admin/editarInicioTitulo}" method="POST">
                <textarea id="" name="titulo" rows="2" cols="50"></textarea>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form> 
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>