<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Gestionar reparaciones</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Listado de reparaciones actuales</h1>

            <div class="card rounded-0 col-sm-12 border">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">Vehículo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha inicio</th>
                            <th scope="col">Fecha fin</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rep: ${reparaciones_empleado}" >
                            <td th:text="|${rep.vehiculo.propietario.firstName} ${rep.vehiculo.propietario.lastName}|"></td>
                            <td th:text="${rep.vehiculo.modelo}"></td>
                            <td th:text="${rep.descripcion}"></td>
                            <td th:text="${rep.fechaInicio}"></td>
                            <td th:text="${rep.fechaFin}"></td>
                            <td th:text="${rep.estado}"></td>
                            <td>

                                <button type="button" class="btn btn-success" data-bs-toggle="modal" th:attr="data-bs-target= '#Aceptar' + ${rep.id}">
                                    <i class="bi bi-heart-fill"></i>
                                </button>
                                <div class="modal fade" th:attr="id='Aceptar' + ${rep.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">¿Seguro que deseas aceptar la reparación?</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <form th:action="@{/empleado/aceptarReparacion/}" method="POST">
                                                    <input type="hidden" name="id_reparacion" th:value="${rep.id}">
                                                    <button type="submit" class="btn btn-primary">Aceptar</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                </form>
                                            </div>  
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target= '#Rechazar' + ${rep.id}">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                                <div class="modal fade" th:attr="id='Rechazar' + ${rep.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">¿Seguro que deseas rechazar la reparación?</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <form th:action="@{/empleado/rechazarReparacion/}" method="POST">
                                                    <input type="hidden" name="id_reparacion" th:value="${rep.id}">
                                                    <button type="submit" class="btn btn-primary">Aceptar</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                </form>
                                            </div>  
                                        </div>
                                    </div>
                                </div>

                                <!-- <form th:action="@{/empleado/reparacionPendiente/}" method="POST">
                                    <input type="hidden" name="id_reparacion" th:value="${rep.id}">
                                    <button type="submit" class="btn btn-info"><i class="bi bi-arrow-counterclockwise"></i></button>
                                </form> -->

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>