<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Gestionar reparaciones</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h2>Listado de reparaciones disponibles</h2>
            <p></p>

            <div class="card rounded-0 col-sm-12 border">
                <table class="table">
                    <thead>
                        <tr class="table-info">
                            <th scope="col">Cliente</th>
                            <th scope="col">Vehículo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha inicio</th>
                            <th scope="col">Fecha fin</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Nº servicios</th>
                            <th scope="col">Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rep: ${reparaciones_empleado}" >
                            <td th:text="|${rep.vehiculo.propietario.firstName} ${rep.vehiculo.propietario.lastName}|"></td>
                            <td th:text="${rep.vehiculo.modelo}"></td>
                            <td th:text="${rep.descripcion}"></td>
                            <td th:text="${rep.fechaInicio}"></td>
                            <td th:text="${rep.fechaFin}"></td>
                            <td th:text="${rep.estado}"></td>
                            <td th:text="${rep.servicios.size}"></td>
                            <td>

                                <button type="button" class="btn btn-success" data-bs-toggle="modal" th:if="${rep.estado == T(es.ucm.fdi.iw.model.Reparacion.ESTADO).PENDIENTE}" th:attr="data-bs-target= '#Aceptar' + ${rep.id}">
                                    <i class="bi bi-check"></i>
                                </button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:if="${rep.estado == T(es.ucm.fdi.iw.model.Reparacion.ESTADO).ACEPTADO}" th:attr="data-bs-target= '#Aceptar' + ${rep.id}">
                                    <i  class="bi bi-plus"></i>
                                </button>
                                <div class="modal fade" th:attr="id='Aceptar' + ${rep.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Formulario para aceptar la reparación o para añadir nuevos servicios</h5>
                                            </div>
                                            <form th:action="@{/empleado/aceptarReparacion}" method="POST">

                                                <div class="modal-body">

                                                    <div class="d-grid gap-2 col-6 mx-auto">
                                                        <input type="button" value="Introducir nuevo servicio" th:attr="data-contenido='contenido' + ${rep.id}" class="btn btn-primary bservicio">
                                                    </div>
                                                    <p></p>

                                                    <div th:id="'contenido' + ${rep.id}"></div>

                                                </div>
                                                <div class="modal-footer">
                                                        <input type="hidden" name="id_reparacion" th:value="${rep.id}">
                                                        <button type="submit" class="btn btn-primary">Aceptar</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                </div>  
                                            </form>
                                    </div>
                                    </div>
                                </div>

                                <!-- <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:if="${rep.estado == T(es.ucm.fdi.iw.model.Reparacion.ESTADO).PENDIENTE}" th:attr="data-bs-target= '#Rechazar' + ${rep.id}">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                                <div class="modal fade" th:attr="id='Rechazar' + ${rep.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">¿Seguro que deseas rechazar la reparación?</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <form th:action="@{/empleado/rechazarReparacion}" method="POST">
                                                    <input type="hidden" name="id_reparacion" th:value="${rep.id}">
                                                    <button type="submit" class="btn btn-primary">Aceptar</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                </form>
                                            </div>  
                                        </div>
                                    </div>
                                </div> -->

                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" th:if="${rep.estado != T(es.ucm.fdi.iw.model.Reparacion.ESTADO).PENDIENTE}" th:attr="data-bs-target= '#Pendiente' + ${rep.id}">
                                    <i class="bi bi-arrow-counterclockwise"></i>
                                </button>
                                <div class="modal fade" th:attr="id='Pendiente' + ${rep.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">¿Seguro que deseas poner la reparación en estado pendiente?</h5>
                                            </div>
                                            <div class="modal-body">
                                                <p>Recuerda que esta opción elimina todos los servicios que hayas creado para esta reparación.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form th:action="@{/empleado/reparacionPendiente}" method="POST">
                                                    <input type="hidden" name="id_reparacion" th:value="${rep.id}">
                                                    <button type="submit" class="btn btn-primary">Aceptar</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                </form>
                                            </div>  
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script>
        
        function botonDeNuevoServicio(boton) {
            const contenedor = document.getElementById(boton.dataset.contenido);
            console.log(boton, contenedor);
            boton.addEventListener('click', ()=>{
                let p = document.createElement('p');
                p.innerHTML =
                `<div class="row">
                    <div class="col-md-2">
                        <label>Servicio:</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="Cambio de cristal" name="info" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Precio: </label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" placeholder="50" name="precio" required>
                    </div>
                    €
                </div>`
                ;
                contenedor.appendChild(p);
            });
        }

        document.querySelectorAll('.bservicio')
            .forEach(b => botonDeNuevoServicio(b));

    </script>
</body>

</html>