<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Inicio</title>
</head>



<body class="container">
  <!--<h1>SOY INDEX</h1>-->
      <div class="col col-8">
        <p th:utext="${titulo}"></p>
      </div>
        <div class="row">
          <div class="col col-8">
            <p th:utext="${texto}"></p>
          </div>
          <div class="col col-4">
            <div class="card rounded-0">
              <div class="card-body">
                <img class="card-img-top" src="/mostrarLogo" style="width: 200px" alt="Card image cap">
                <div class="card-body d-flex justify-content-center row">
                  <p class="card-title text-center">¿Te interesa?</p>  
                  <div class="btn-group-vertical">                
                    <a href="registro" class="btn btn-primary mt-5">Unete a nosotros</a>
                    <a href="login" class="btn btn-primary mt-3">Ya tengo cuenta</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</body>

</html>
