<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Menú principal</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="fragments/nav.html :: nav"></header>

    <div class="flex-shrink-0 container">

        <div class="row">
            <h1>Lista de vehiculos </h1>

            <div class="card rounded-0 border">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Matricula</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="v: ${vehiculos}" >
                            <td th:text="${v.id}"></td>
                            <td th:text="${v.matricula}"></td>
                            <td th:text="${v.tipo}"></td>
                            <td th:text="${v.modelo}" th:attr="id='Modelo' + ${v.matricula}"></td>
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:attr="data-bs-target= '#Observar' + ${v.id}">
                                    <i class="bi bi-eye"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" th:attr="id='Observar' +${v.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Observando vehiculo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col">
                                                <div>ID vehiculo:</div>
                                                <div th:text="${v.id}"></div>
                                            </div>
                                            <div class="col">
                                                <div>Matricula:</div>
                                                <div th:text="${v.matricula}"></div>
                                            </div>
                                            <div class="col">
                                                <div>Tipo:</div>
                                                <div th:text="${v.tipo}"></div>
                                            </div>
                                            <div class="col">
                                                <div>Modelo:</div>
                                                <div th:text="${v.modelo}"></div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>           
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" th:attr="data-bs-target= '#Anyadir' + ${v.id}" >
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" th:attr="id='Anyadir' +${v.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <form th:action="@{/cliente/editarVehiculo}" method="POST">
                                                <input type="hidden" name="id" th:value="${v.id}">
                                                <p>Matricula: </p>
                                                <input type="text" name="matricula" th:value="${v.matricula}">
                                                <p>Tipo: </p>
                                                <input type="text" name="tipo" th:value="${v.tipo}">
                                                <p>Modelo: </p>
                                                <input type="text" name="modelo" th:value="${v.modelo}">
                                                <p>Año: </p>
                                                <input type="text" name="anyo" th:value="${v.anyo}">
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target= '#Eliminar' + ${v.id}"><i class="bi bi-trash"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" th:attr="id='Eliminar' +${v.id}" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalEliminarLabel" th:text="'Eliminar ' + ${v.matricula}"></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Estas a punto de eliminar este coche. ¿Estás seguro?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <form th:action="@{/cliente/borrarCoche}" method="POST" >
                                                    <input type="hidden" name="id" th:value="${v.id}">
                                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:attr="data-bs-target= '#Reparar' + ${v.id}">
                                    <span class="bi bi-wrench"></span> Solicita Reparacion</button>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" th:attr="id='Reparar' +${v.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <form th:action="@{/cliente/solicitaReparacion}" method="POST">
                                                <p>Tipo: </p>
                                                <input type="text" name="tipo" th:value="${v.tipo}">
                                                <p>Modelo: </p>
                                                <input type="text" name="modelo" th:value="${v.modelo}">
                                                <input type="hidden" name="id" th:value="${v.id}">
                                                <p>Fecha de entrega </p>
                                                <input type="date" id="fechaFin" name="fechaFin">
                                                <p>Describe brevemente lo que le ocurre a tu vehículo: </p>
                                                <textarea rows = "5" cols = "45" name = "descripcion" id ="descripcion">
                                                </textarea>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                    </div>  
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <div class="card rounded-0 border">
                <!-- Button trigger modal -->
                <button type="button" id="AnyVehi" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAnyadirCoche">
                    <i class="bi bi-plus-circle-fill"></i>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="modalAnyadirCoche" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeAnyadir"></button>
                    </div>
                        <div class="modal-body">
                            <form th:action="@{/cliente/anyadirCoche}" method="POST" enctype="multipart/form-data">
                                
                                    <h6><label>Introduzca la matricula del vehículo:</label> </h6> 
                                    <input type="text" name="matricula" id="matricula">
    
                                    <h6><label>Seleccione el tipo de vehículo</label></h6> 
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="tipo" id="coche" value="coche" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                          Coche
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="tipo" id="moto" value="moto">
                                        <label class="form-check-label" for="exampleRadios2">
                                          Moto
                                        </label>
                                      </div>
                                    <h6>Introduzca el modelo del vehículo: </h6>
                                    <input type="text" name="modelo" id="modelo">

                                    <h1 class="mt-4">Introduce la imagen del coche: </h1>
                                    <input type="file" id="" name="foto" accept="image/jpeg,image/png, image/svg">

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" id="anyadirVehiculo">Añadir</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    </div>


    
    
                            </form>
                        </div>
                    </div>
                    </div>
                    </div>
    
            </div>
        </div>

        <div class="row mt-5">
            <div class="card rounded-0 col-sm-12 border">
                <h1>Lista de reparaciones</h1>
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Vehículo</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Fecha inicio</th>
                        <th scope="col">Fecha fin</th>
                        <th scope="col">Estado</th>
                       <th scope = "col">Servicios</th>
                        <th scope ="col">Chat</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="r: ${reparaciones_cliente}" >
                            <td th:text="${r.vehiculo.modelo}"></td>
                            <td th:text="${r.descripcion}"></td>
                            <td th:text="${r.fechaInicio}"></td>
                            <td th:text="${r.fechaFin}"></td>
                            <td th:text="${r.estado}"></td>
                            
                            <td><div class="form-check" th:each="serv : ${r.servicios}">

                                   
                                  
                                <label class="form-check-label" th:for="'flexCheck' + ${serv.id}"
                                th:if="${serv.finalizado == true}" th:text="|${serv.info} - ${serv.precio}€|">
                                </label>

                            </td>
                            
                            
                            <td th:if="${r.empleado != null}">
                                <a class="nav-link" th:href="@{/chat/{id}(id=${r.id})}"><i class="bi bi-chat-dots"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
        </div>


    </div>
  

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>