<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Mis Vehiculos</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Mis Vehiculos</h1>
            <ul>
                <li>
                    <a th:if="${session.u.hasRole('USER')}" th:href="@{/vehiculoDetallado/}">Coche 1
                    <img th:src="@{/img/favicon.svg}" src="/img/favicon.svg" class="rounded mx-auto d-inline-block" width="50" height="50">
                    </a>
                </li>
                <li>
                    <a th:if="${session.u.hasRole('USER')}" th:href="@{/vehiculoDetallado/}">Moto 1
                    <img th:src="@{/img/motorcycle-solid.svg}" src="/img/motorcycle-solid.svg" class="rounded mx-auto d-inline-block" width="50" height="50">
                    </a>
                </li>
                <li>
                    <a th:if="${session.u.hasRole('USER')}" th:href="@{/vehiculoDetallado/}">Coche 2
                    <img th:src="@{/img/favicon.svg}" src="/img/favicon.svg" class="rounded mx-auto d-inline-block" width="50" height="50">
                    </a>
                </li>
            </ul>
            <!-- <div class="row">
                    <div class="col">
                        <div>Vehiculo 1...</div>
                        <div>Vehiculo 2...</div>
                        <div>Vehiculo 3...</div>
                    </div>
            </div> -->
        </div>

       <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <b>Añade tu coche </b>
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Registrar un Vehiculo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <h5>Introduzca los datos</h6>  
                
                <form >
                    <label>Introduzca la matricula</label>
                    <input type="text" class="form-control" id="matricula" placeholder="Introduzca la matricula">
                    <label>Seleccione el tipo</label>
                    <select multiple class="form-control" id="tipo">
                        <option>Coche</option>
                        <option>Moto</option>
                    </select>
                    <label>Introduzca el modelo</label>
                    <input type="text" class="form-control" id="modelo" placeholder="Introduzca el modelo">
               
                </form> 
                </div>

                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Aceptar</button>
                
                </div>
            </div>
            </div>
        </div>

              
   
                                   
                        

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>