<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Mis Vehiculos</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Mis Vehiculos</h1>
            <ul>
                <li>
                    <a th:if="${session.u.hasRole('USER')}" th:href="@{/vehiculoDetallado/}">Coche 1
                    <img th:src="@{/img/favicon.svg}" src="/img/favicon.svg" class="rounded mx-auto d-inline-block" width="50" height="50">
                    </a>
                </li>
                <li>
                    <a th:if="${session.u.hasRole('USER')}" th:href="@{/vehiculoDetallado/}">Moto 1
                    <img th:src="@{/img/motorcycle-solid.svg}" src="/img/motorcycle-solid.svg" class="rounded mx-auto d-inline-block" width="50" height="50">
                    </a>
                </li>
                <li>
                    <a th:if="${session.u.hasRole('USER')}" th:href="@{/vehiculoDetallado/}">Coche 2
                    <img th:src="@{/img/favicon.svg}" src="/img/favicon.svg" class="rounded mx-auto d-inline-block" width="50" height="50">
                    </a>
                </li>
            </ul>
            <!-- <div class="row">
                    <div class="col">
                        <div>Vehiculo 1...</div>
                        <div>Vehiculo 2...</div>
                        <div>Vehiculo 3...</div>
                    </div>
            </div> -->
        </div>

        <main class="flex-shrink-0">
            <form class = "form-group">
                <div class="row d-flex justify-content-center">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <label for="Nombre"><b>Nombre</b></label>
                    <input type="text" class="form-control ml-sm-5" id="nombre" placeholder="Nombre completo">
                  </div>
                </div>

              
                        <div class="row d-flex justify-content-center">
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <label for="Nombre"><b>Nombre</b></label>
                            <input type="text" class="form-control ml-sm-5" id="matricula" placeholder="Número de matricula">
                          </div>
                        </div>

    <button onclick="myFunction()">Click me</button>

                        
        <script>
            function myFunction() {
            const name = document.getElementById("nombre").value ;
            const matri = document.getElementById("matricula").value;
            console.log("name");
            console.log("matri");
            }
        </script>
                                   
                        

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>