<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Mis Vehiculos</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Mis Vehiculos</h1>

            <div class="card rounded-0 col-sm-5 border">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Matricula</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="v: ${vehiculos}" >
                            <td th:text="${v.id}"></td>
                            <td th:text="${v.matricula}"></td>
                            <td th:text="${v.tipo}"></td>
                            <td th:text="${v.modelo}"></td>
                            <td>            
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalEditandoCoche">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="modalEditandoCoche" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <form th:action="@{/user/editarVehiculo}" method="POST">
                                                <input type="hidden" name="id" th:value="${v.id}">
                                                <p>Matricula: </p>
                                                <input type="text" name="matricula" th:value="${v.matricula}">
                                                <p>Tipo: </p>
                                                <input type="text" name="tipo" th:value="${v.tipo}">
                                                <p>Modelo: </p>
                                                <input type="text" name="modelo" th:value="${v.modelo}">
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                    </div>

                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminarCoche"><i class="bi bi-trash"></i></button>
                                <!-- Modal -->
                                <div class="modal fade" id="modalEliminarCoche" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalEliminarLabel" th:text="'Eliminar ' + ${v.matricula}"></h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Estas a punto de eliminar este coche. ¿Estás seguro?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <form th:action="@{/user/borrarCoche}">
                                                    <input type="hidden" name="id" th:value="${v.id}">
                                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    </table>
            </div>    
            <div class="card rounded-0 col-sm-5 border">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAnyadirCoche">
                    <i class="bi bi-plus-circle-fill"></i>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="modalAnyadirCoche" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <div class="modal-body">
                            <form th:action="@{}" method="POST">
                                <input type="hidden" name="id" >
                                <p>Matricula: </p>
                                <input type="text" name="matricula" >
                                <p>Tipo: </p>
                                <input type="text" name="tipo" >
                                <p>Modelo: </p>
                                <input type="text" name="modelo" >
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Añadir</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                    </div>
            </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>