<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Reparaciones en curso</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h2>Listado de tus reparaciones</h2>
            <p></p>

            <table class="table">
                <thead>
                    <tr class="table-info">
                        <th scope="col">Vehículo</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Servicios</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="rep: ${reparacionesAceptadas}" >
                        <td th:text="${rep.vehiculo.modelo}"></td>
                        <td th:text="${rep.descripcion}"></td>
                        <td>
                            <div class="form-check" th:each="serv : ${rep.servicios}">
                                
                                <input th:if="${serv.finalizado == false}" class="form-check-input" type="checkbox" th:value="${serv.id}" th:id="'flexCheck' + ${serv.id}">
                                <input th:if="${serv.finalizado == true}" class="form-check-input" type="checkbox" th:value="${serv.id}" th:id="'flexCheck' + ${serv.id}" checked>
                                
                                <label class="form-check-label" th:for="'flexCheck' + ${serv.id}"
                                    th:text="|${serv.info} - ${serv.precio}€|">
                                </label>

                            </div>
                        </td>
                        <td>
                            Finalizar reparación
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script>

        function gestionarCheckbox(checkbox)
        {
            checkbox.addEventListener("change", validaCheckbox, false);
            function validaCheckbox()
            {
                go("/empleado/finalizacionServicio/" + Number(checkbox.value), "POST");

                // if(checkbox.checked)
                //     alert(checkbox.id + ' está seleccionado');
            }
        }

        document.querySelectorAll('input[type=checkbox]')
            .forEach(checkbox => gestionarCheckbox(checkbox));

    </script>

</body>

</html>