<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Mis Vehiculos</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1>Solicita una reparacion de un vehículo</h1>

            <div class="card rounded-0 col-sm-5 border">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Matricula</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Modelo</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="v: ${vehiculos}" >
                            <td th:text="${v.id}"></td>
                            <td th:text="${v.matricula}"></td>
                            <td th:text="${v.tipo}"></td>
                            <td th:text="${v.modelo}"></td>
                            <td>            
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" th:attr="data-bs-target= '#Anyadir' + ${v.id}" >
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" th:attr="id='Anyadir' +${v.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <form th:action="@{/user/solicitaReparacion}" method="POST">
                                                <input type="hidden" name="id" th:value="${v.id}">
                                                <input type="hidden" name="id" th:value="${v.matricula}">
                                                <input type="hidden" name="id" th:value="${v.tipo}">
                                                <input type="hidden" name="id" th:value="${v.modelo}">
                                                <p>Tipo: </p>
                                                <input type="text" name="tipo" th:value="${v.tipo}">
                                                <p>Modelo: </p>
                                                <input type="text" name="modelo" th:value="${v.modelo}">
                                               
                                                <p>Fecha de entrega </p>
                                                <input type="datetime-local" id="fechaEntrega" name="fechaEntrega">
                                                <p>Describe brevemente lo que le ocurre a tu vehículo: </p>
                                                <textarea rows = "5" cols = "60" name = "descripcion" id ="descripcion">
                                                 
                                               </textarea><br>


                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                    </div>

                            </td>
                        </tr>
                    </tbody>
                    </table>
            </div>    

        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>