<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Chat</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="fragments/nav.html :: nav"></header>
    <h1>Taller</h1>

    <main class="flex-shrink-0">
      
      
      
      
      
      <div class="container">
     
        <div class="row d-flex justify-content-center">
            <div class="gestionTrabajadores col-sm-4 border border rounded">
                <h2>Gestion de taller</h2>
                <div class="input-group">
                  <div class="form-outline">
                    <input type="search" id="form1" class="form-control" />
                    <button type="button" class="btn btn-primary">Buscar</button>
                  </div>
                  
                </div>
              </div>          
            </div>
          </div>
          <div class="row card text-center">
            <h2>Lista de servicios pendientes de realizar al vehiculo y su personal asignado:</h2>
            
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Juan -> ITV
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
              <label class="form-check-label" for="flexCheckChecked">
                Lucia -> Cambiar ruedas
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
              <label class="form-check-label" for="flexCheckChecked">
                Marcos -> Revisión
              </label>
            </div>
            <button type="button" class="btn btn-primary">Guardar cambios</button>
    </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>